@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 95%;
    --foreground: 20 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 213 53% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 15% 93%;
    --secondary-foreground: 20 10% 10%;
    --muted: 40 10% 92%;
    --muted-foreground: 220 5% 42%;
    --accent: 37 39% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 88%;
    --input: 40 10% 88%;
    --ring: 213 53% 24%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
